<!-- Thank you for paying screen -->
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Thank you for your payment!</h1>
      <p>Your payment was successful. We will send you an email with your order details.</p>
    </div>
  </div>
</div>
