<!-- This is the layout file that is used to wrap all the views -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TeaTime</title>
    <link rel="stylesheet" href="../public/css/styles.css">
</head>
<body>
<header>
    <h1>TeaTime</h1>
    <nav>
        <a href="/">Home</a>
        <a href="/store">Store</a>
        <a href="/store/cart">Cart</a>
        <% if (user) { %>
            <a href="/auth/logout">Logout</a>
        <% } else { %>
            <a href="/auth/login">Login</a>
        <% } %>
    </nav>
</header>

<main>
    <%- body %>
</main>

<footer>
    <p>&copy; 2024 TeaTime. All rights reserved.</p>
</footer>
</body>
</html>
