<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TeaTime</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<header>
    <div class="header-content">
        <a href="/" class="logo-title-link">
            <div class="logo-title-container">
                <img src="/images/teatime-logo.png" alt="TeaTime Logo" class="logo-image">
                <h1>TeaTime</h1>
            </div>
        </a>
    </div>
    <nav>
        <div class="hamburger">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </div>
        <div class="nav-links">
            <a href="/">Home</a>
            <a href="/store">Store</a>
            <a href="/store/cart" class="cart-button">Cart</a>
            <a href="/store/reviews">Reviews</a>
            <a href="/store/map">Map</a>
            <a href="/store/quiz">Quiz</a>
            <a href="/store/tea-blender">Tea Blender</a>
        </div>
        <div class="nav-admin">
            <% if (user && user.isAdmin) { %>
                <a href="/admin">Admin</a>
            <% } %>
        </div>
        <div class="nav-login">
            <% if (!user.username) { %>
                <a href="/auth/login">Login</a>
            <% } else { %>
                <a href="/auth/logout">Logout</a>
            <% } %>
        </div>
        <div class="nav-links-mobile">
            <a href="/">Home</a>
            <a href="/store">Store</a>
            <a href="/store/cart" class="cart-button">Cart</a>
            <a href="/store/reviews">Reviews</a>
            <a href="/store/map">Map</a>
            <a href="/store/quiz">Quiz</a>
            <a href="/store/tea-blender">Tea Blender</a>
            <a href="/auth/login">Login</a>
        </div>
    </nav>
</header>

<main>
    <%- body %>
</main>

<footer>
    <p>&copy; 2024 TeaTime. All rights reserved.</p>
</footer>

<script src="/js/home.js"></script>
</body>
</html>
