<main>
    <div class="add-padding-2">
        <h1>Thank You for Your Purchase, <%= user.username %>!</h1>
        <p>Your order has been successfully placed. We appreciate your business.</p>
        <a href="/store" class="button">Continue Shopping</a>
    </div>
</main>
