<main>
    <div class="container">
        <h1>Thank You for Your Purchase, <%= user %>!</h1>
        <p>Your order has been successfully placed. We appreciate your business.</p>
        <a href="/store" class="btn btn-primary">Continue Shopping</a>
    </div  >
</main>
